# There's most definitely a better way to do this
# Ignores everything by default, just to be safe so no secrets are tracked

*

!/.vscode/
!/.vscode/**

!/config/

!/config/atuin/
!/config/bat/**

!/config/bat/
!/config/bat/**

!/config/btop/
!/config/btop/**

!/config/1Password/
!/config/1Password/ssh
!/config/1Password/ssh/agent.toml

!/config/act/
!/config/act/**

!/config/atuin/
!/config/atuin/config.toml

!/config/gh/
!/config/gh/**

!/config/docker/
!/config/docker/config.json

!/config/fish/
!/config/fish/conf.d/
!/config/fish/conf.d/**
!/config/fish/functions/
!/config/fish/functions/**
!/config/fish/themes/
!/config/fish/themes/**
!/config/fish/fish_plugins

!/config/git/
!/config/git/**

!/config/gnupg/
!/config/gnupg/gpg-agent.conf

!/config/micro/
!/config/micro/colorschemes/
!/config/micro/colorschemes/laramie-tc.micro
!/config/micro/settings.json

!/config/op/

!/config/raycast/

!/config/ssh/
!/config/ssh/config

!/config/starship/
!/config/starship/**

!/config/wezterm/
!/config/wezterm/**

!/src/
!/src/**

!/.gitignore
!/Brewfile
!/config.schema.json
!/config.yaml
!/macos.yaml
!/Icon*
!/README.md
!/install.zsh
!/LICENSE*
!/main.fish
!/update.zsh

**/.DS_Store